.file-struct {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
}

.file-struct button {
  white-space: normal;
  background-color: rgb(115, 120, 145);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  cursor: pointer;
  margin: 2px 0;
}

.folder-ul li {
  margin-left: 20px;
}

.hidden {
  display: none;
}

.open {
  background-color: rgb(115, 120, 145);
}

.file-ind-struct {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 10px;
}
