.file-struct {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
}

.file-struct button {
  white-space: normal;
  background-color: var(--folder-background-color);
  color: var(--folder-color);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  cursor: pointer;
  margin: 2px 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.folder-ul li {
  margin-left: 20px;
}

.hidden {
  display: none;
}

.open {
  background-color: red;
}

.file-ind-struct {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 10px;
}

#file-empty-p {
  color: gray;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
