.HomePage {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 300px auto;
}

.taskbar {
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.profile {
  width: 75px;
  height: 75px;
}

.profile-button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.profile-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.upload-icon,
.shared-icon {
  width: 50px;
  height: 50px;
}

.upload-icon button,
.shared-icon button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.upload-icon button:hover,
.shared-icon button:hover {
  filter: invert(0.5);
}

.file-upload-icon {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.image-icon {
  filter: var(--icon-color);
}

.file-upload-icon:hover {
  filter: invert(0.5);
}

/* File popup */

.file-upload-popup {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 250px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--file-upload-popup-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--file-upload-popup-color);
}

.file-upload-popup p {
  margin-left: 5px;
}

.file-upload-popup button {
  width: 20px;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* End File popup */

.upload-icon button img,
.shared-icon button img {
  width: 100%;
  height: 100%;
}

.logout-link a {
  width: 50px;
  height: 30px;
  background-color: var(--logout-color);
  padding: 5px;
  color: var(--logout-hover-background-color);
  border-radius: 5px;
}

.logout-link a:hover {
  background-color: var(--logout-hover-color);
}

.files-box {
  display: grid;
  grid-template-rows: 70px auto;
  background-color: var(--folder-struct-color);
  height: 100vh;
  overflow-y: hidden;
}

.name-show {
  background-color: var(--color-2);
  display: flex;
  color: var(--name-color);
  align-items: center;
  justify-content: center;
}

.name-show-p {
  font-family: sans-serif;
  font-size: 1.5rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.main-files {
  background-color: var(--main-section-color);
  height: 100vh;
  overflow-y: auto;
}

.right-click {
  top: 1px;
  left: 1px;
  visibility: hidden;
  position: fixed;
  width: 8rem;
  border-radius: 5px;
  background-color: rgba(54, 54, 54, 0.9);
  font-family: sans-serif;
  top: 50%;
  left: 50%;
  padding: 5px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.right-click ul {
  width: 100%;
  height: 100%;
}

.right-click ul li,
.right-click ul li button {
  width: 100%;
}

.right-click ul li button.non-selectable {
  pointer-events: none;
  opacity: 0.7;
  user-select: none;
}

.right-click ul li:first-child button {
  margin-top: 0;
}

.right-click ul li button {
  background-color: rgba(66, 66, 66, 0.856);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  height: 2rem;
  margin-top: 5px;
  border: none;
  transition: background-color 0.05s linear;
}

.right-click ul li button:hover {
  background-color: rgba(82, 82, 82, 0.756);
}

.input-popup {
  position: fixed;
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  background-color: rgba(54, 54, 54, 0.9);
  font-family: sans-serif;
  top: 50%;
  left: 50%;
  margin-top: -1.5rem;
  margin-left: -7.5rem;
  padding: 10px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-popup input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid black;
  background-color: #474747;
  padding: 3px 5px;
}

.input-popup input:focus {
  outline: 1px solid gray;
}

.input-popup button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  margin-left: 10px;
  height: 20px;
  padding-top: 1px;
  padding-left: 1px;
  color: black;
}

.input-popup button:hover {
  color: gray;
}
