.HomePage {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 300px auto;
}

.taskbar {
  background-color: rgb(20, 22, 29);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.profile {
  width: 75px;
  height: 75px;
}

.profile-button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.profile-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.upload-icon,
.shared-icon {
  width: 50px;
  height: 50px;
}

.upload-icon button,
.shared-icon button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.upload-icon button:hover,
.shared-icon button:hover {
  filter: invert(0.5);
}

.file-upload-icon {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.file-upload-icon:hover {
  filter: invert(0.5);
}

/* File popup */

.file-upload-popup {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 250px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(190, 230, 248, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #00529b;
}

.file-upload-popup p {
  margin-left: 5px;
}

.file-upload-popup button {
  width: 20px;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* End File popup */

.upload-icon button img,
.shared-icon button img {
  width: 100%;
  height: 100%;
}

.logout-link a {
  width: 50px;
  height: 30px;
  background-color: rgb(31, 31, 31);
  padding: 5px;
  color: #ffffff;
  border-radius: 5px;
}

.logout-link a:hover {
  background-color: rgb(54, 54, 54);
  color: rgb(226, 226, 226);
}

.files-box {
  display: grid;
  grid-template-rows: 70px auto;
  background-color: rgb(33, 40, 68);
  height: 100vh;
  overflow-y: hidden;
}

.name-show {
  background-color: rgb(24, 28, 43);
  display: flex;
  color: rgb(199, 199, 199);
  align-items: center;
  justify-content: center;
}

.name-show-p {
  font-family: sans-serif;
  font-size: 1.5rem;
}

.main-files {
  background-color: rgb(34, 32, 32);
  height: 100vh;
  overflow-y: auto;
}
