.HomePage {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 300px auto;
}

.taskbar {
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.profile {
  width: 75px;
  height: 75px;
}

.profile-button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.profile-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.upload-icon,
.shared-icon {
  width: 50px;
  height: 50px;
}

.upload-icon button,
.shared-icon button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.upload-icon button:hover,
.shared-icon button:hover {
  filter: invert(0.5);
}

.file-upload-icon {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.image-icon {
  filter: var(--icon-color);
}

.file-upload-icon:hover {
  filter: invert(0.5);
}

/* File popup */

.file-upload-popup {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 250px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--file-upload-popup-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--file-upload-popup-color);
}

.file-upload-popup p {
  margin-left: 5px;
}

.file-upload-popup button {
  width: 20px;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* End File popup */

.upload-icon button img,
.shared-icon button img {
  width: 100%;
  height: 100%;
}

.logout-link a {
  width: 50px;
  height: 30px;
  background-color: var(--logout-color);
  padding: 5px;
  color: var(--logout-hover-background-color);
  border-radius: 5px;
}

.logout-link a:hover {
  background-color: var(--logout-hover-color);
}

.files-box {
  display: grid;
  grid-template-rows: 70px auto;
  background-color: var(--folder-struct-color);
  height: 100vh;
  overflow-y: hidden;
}

.name-show {
  background-color: var(--color-2);
  display: flex;
  color: var(--name-color);
  align-items: center;
  justify-content: center;
}

.name-show-p {
  font-family: sans-serif;
  font-size: 1.5rem;
}

.main-files {
  background-color: var(--main-section-color);
  height: 100vh;
  overflow-y: auto;
}
