@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text.l {
  width: 270px;
  height: 40px;
  border-radius: 2px;
}

.skeleton-text.s {
  width: 120px;
  height: 15px;
  position: absolute;
  border-radius: 2px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 70px auto;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f3f3f3;
}

.not-logged {
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-not-logged {
  width: clamp(300px, 70%, 100%);
  height: 50%;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.welcome-h {
  font-size: 2.5rem;
}

.img-part {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-part img {
  width: clamp(20px, 60%, 95%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header h1 a {
  color: black;
}

header ul li {
  display: inline;
  margin: 0 10px;
}

header ul li a {
  color: #696969;
}

header ul li:first-child a {
  color: #494949;
}

@media only screen and (max-width: 1100px) {
  main {
    display: block;
  }

  .box-not-logged {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    box-shadow: none;
  }

  .img-part {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  body {
    grid-template-rows: 100px auto;
  }

  header {
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
}
