.ProfilePage {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px auto;
}

.ProfilePage.taskbar {
  height: 100vh;
}

.profile-settings {
  background-color: var(--folder-struct-color);
}

.home-icon,
.shared-icon {
  width: 50px;
  height: 50px;
}

.home-icon a,
.shared-icon button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.home-icon a:hover,
.shared-icon button:hover {
  filter: invert(0.5);
}

.home-icon a img {
  width: 100%;
  height: 100%;
}
