.ProfilePage {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px auto;
}

.ProfilePage.taskbar {
  height: 100vh;
}
.home-icon,
.shared-icon {
  width: 50px;
  height: 50px;
}

.home-icon a,
.shared-icon button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.home-icon a:hover,
.shared-icon button:hover {
  filter: invert(0.5);
}

.home-icon a img {
  width: 100%;
  height: 100%;
}

.profile-settings {
  background-color: var(--folder-struct-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-grid {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px;
  width: 50%;
  gap: 20px;
}

.profile-grid h1 {
  padding-right: 10px;
  border-right: 1px solid black;
  font-weight: 400;
  text-transform: uppercase;
}

.profile-theme-themes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.profile-theme-themes button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.profile-theme-themes button:hover {
  outline: 3px solid rgb(103, 105, 114);
}

.profile-theme-themes button.theme-selected {
  outline: 3px solid rgb(103, 105, 114);
}

#default-theme {
  background-color: rgb(20, 22, 29);
}

#light-theme {
  background-color: #dfdfdf;
}

#dark-theme {
  background-color: black;
}

.profile-pic h1 {
  width: 400px;
}

.profile-images {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-images button {
  height: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
}

.profile-images button:hover {
  outline: 3px solid black;
}

.profile-images button.current-image {
  outline: 3px solid gray;
}

.profile-images button img {
  height: 50px;
  border-radius: 50%;
}

.name-profile {
  width: 50px;
  background: rgb(207, 207, 207);
}

.name-profile p {
  font-size: 1.35rem;
  font-family: "roboto", sans-serif;
}

.profile-images-current {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.profile-images-current img {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.profile-allow-sharing {
  display: flex;
  align-items: center;
  gap: 20px;
}

.alert-box {
  width: 150px;
  height: 50px;
  position: absolute;
  top: -100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  transition: top 0.25s linear;
}

.alert-red {
  background-color: rgba(255, 0, 0, 0.7);
}

.alert-green {
  background-color: rgba(0, 255, 0, 0.7);
}

.alert-box button {
  border: none;
  width: 20px;
  height: 20px;
  background: none;
  cursor: pointer;
  color: black;
}

.alert-box button:hover {
  color: gray;
}
